---
import { HabitCard } from "@components/app/HabitsGrid";
import { habitsData } from "@data/habits";
import Layout from "@layouts/Layout.astro";

const medidate = habitsData.find((habit) => habit.name === "Meditate")!;
const data = {
  ...medidate,
  inputs: medidate.inputs.map((input) =>
    input.name === "time" ? { ...input, value: "100" } : input
  ),
};
import "@fontsource/nunito"
---

<Layout title="Habito">
  <main class="w-full max-w-5xl grow pt-4 sm:grid sm:grid-cols-2 sm:pt-20">
    <div class="pb-10 sm:p-0">
      <h2 class="text-4xl font-bold">
        The time has come to stop procrastinating 💪
      </h2>
      <p class="pt-8">
        Unleash your <strong>inner powerhouse</strong> and discover the habits that
        will help you conquer 2023 with our snazzy,
        <strong>free calculator!</strong>
      </p>
      <p class="pt-2">
        Track your progress and watch in awe as you
        <strong>crush your goals</strong>
        and soar to new heights of success. Let's make this year one for the history
        books, folks!
      </p>
      <a class="btn-primary btn mt-10" href="/app">Build my habits list</a>
    </div>
    <div class="pointer-events-none mx-auto w-full sm:max-w-[300px]">
      <HabitCard habit={data} year={1} index={0} />
    </div>
  </main>
</Layout>
