---
import HabitsList from "@components/home/HabitsList";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Habito">
  <div class="w-full max-w-xl grow">
    <main
      class="grid w-full max-w-3xl grid-cols-2 gap-2 md:grid-cols-3 lg:grid-cols-4"
    >
      <HabitsList client:load />
    </main>
  </div>
</Layout>
