---
import { HabitCard } from "@components/app/HabitsGrid";
import { habitsData, HabitsNames } from "@data/habits";
import Layout from "@layouts/Layout.astro";


function getData(habitName: HabitsNames) {
	const habit = habitsData.find((habit) => habit.name === habitName)!
	return {
  ...habit,
  inputs: habit.inputs.map((input) =>
    input.name === "time" || input.name === "liquid" ? { ...input, value: toString(Math.random() * 1000) } : input
  ),
};
}

const medidate = getData("Meditate")
const code = getData("Code")
const water = getData("Drink Water")

---

<Layout title="Habito">
  <main class="w-full max-w-5xl grow pt-4 sm:grid sm:grid-cols-2 sm:pt-20">
    <div class="pb-10 sm:p-0">
      <h2 class="text-5xl font-bold">
        The time has come to stop procrastinating 💪
      </h2>
      <p class="pt-8">
        Unleash your <strong>inner powerhouse</strong> and discover the habits that
        will help you conquer 2023 with our snazzy,
        <strong>free calculator!</strong>
      </p>
      <p class="pt-2">
        Track your progress and watch in awe as you
        <strong>crush your goals</strong>
        and soar to new heights of success. Let's make this year one for the history
        books, folks!
      </p>
      <a class="btn-primary btn mt-10" href="/app">Build my habits list</a>
    </div>
    <div class="pointer-events-none mx-auto w-full sm:max-w-[300px] flex flex-col gap-4">
      <HabitCard habit={medidate} year={1} index={0} />
      <HabitCard habit={code} year={1} index={1} />
      <HabitCard habit={water} year={1} index={2} />
    </div>
  </main>
</Layout>
