---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/faviconMoon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex h-screen w-screen flex-col items-center bg-base-100 p-2">
    <div class="flex min-h-full w-full flex-col items-center px-3">
      <header class="w-full max-w-5xl">
        <h1 class="self-start py-4 font-black">
          <a href="/" class="text-2xl uppercase tracking-wider">🌚 Habito</a>
        </h1>
      </header>
      <slot />
      <div class="divider"></div>
      <footer class="footer footer-center">
        <p class="footer-title">All rights reserved © Cake 2023 - Present</p>
      </footer>
    </div>
  </body>
</html>
