---
import AddedHabits from "@components/AddedHabits";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex h-screen w-screen flex-col items-center bg-base-100 p-3">
    <div class="flex min-h-full w-full flex-col items-center">
      <header>
        <h1 class="self-start pb-6 font-black">
          <a href="/" class="btn-ghost btn text-2xl normal-case"
            >Habit Tracker</a
          >
        </h1>
      </header>
      <slot />
      <AddedHabits client:load />
      <div class="divider"></div>
      <footer class="footer footer-center">
        <p class="footer-title">All rights reserved © Cake 2023 - Present</p>
      </footer>
    </div>
  </body>
</html>
